In [1]:
from gezi.common import *
sys.path.append('..')
from src.config import *
from src.preprocess import *
from src.eval import *
gezi.init_flags()

In [2]:
# root = '../working/offline/5/0'
# context_model_name = 'deberta-v3-small.loss_method-mae.0705'
# # context_model_name = 'deberta-v3-small.n_context-40.loss_method-mae.0705'
# pairwise_model_name = 'deberta-v3-small.flag-pairwise5.encode_code_info.encode_markdown_info.encode_all_info.0706.dump_emb'
root = '../working/offline/6/0'
context_model_name = 'deberta-v3-small.flag-context2.cls_loss_rate-0.1.awp_train.adv_epochs-4'
pairwise_model_name = 'deberta-v3-small.flag-pairwise7.dump_emb'

In [3]:
# offline  0.833608772799882 acc 764
# x = gezi.load('../working/offline/5/0/debug2/valid.pkl')
# offline 8389 acc 775
x = gezi.load(f'{root}/{pairwise_model_name}/embs.pkl')

In [4]:
x

{'id': array(['0002115f48f982', '0002115f48f982', '0002115f48f982', ...,
        'fffc1b4f08e81c', 'fffc1b4f08e81c', 'fffc1b4f08e81c'], dtype='<U14'),
 'cell_id': array(['9ec225f0', '18281c6c', 'e3b6b115', ..., 'ae8f2eb5', 'df457077',
        'nan'], dtype='<U8'),
 'cell_type': array(['markdown', 'code', 'code', ..., 'code', 'code', 'code'],
       dtype='<U8'),
 'rank': array([ 0,  1,  2, ..., 38, 39, 40]),
 'rel_rank': array([0.05555556, 0.11111111, 0.22222222, ..., 0.94871795, 0.97435897,
        1.        ]),
 'match_code': array([ 0., nan, nan, ..., nan, nan, nan]),
 'n_code_cell': array([ 8,  8,  8, ..., 38, 38, 38]),
 'n_markdown_cell': array([1, 1, 1, ..., 2, 2, 2]),
 'n_cell': array([ 9,  9,  9, ..., 40, 40, 40]),
 'emb': array([[ 1.3518708e-02, -3.3808160e-01, -5.4368075e-02, ...,
         -2.5624588e-02,  4.0331084e-02,  3.0820372e-02],
        [ 2.6851270e-02,  1.7858563e-02, -3.0819701e-03, ...,
         -1.1767427e-01,  3.7109735e-03,  5.5762567e-02],
        [-4.2448498e-02, -4.5710277e-02, -4.3296710e-02, ...,
         -3.0335952e-02,  5.1082862e-03, -1.3248026e-02],
        ...,
        [-7.9071485e-02,  1.7673141e-01,  5.0487515e-02, ...,
         -1.9791855e-02, -4.5871761e-02,  2.6498967e-01],
        [-2.2896811e-02,  2.5459316e-01,  1.2506229e-01, ...,
         -3.8070202e-02, -2.1309417e-02,  3.3231798e-01],
        [ 5.6782734e-05,  1.8776610e-02,  5.6209583e-03, ...,
         -3.4568793e-01,  1.3483168e-03,  3.4781992e-01]], dtype=float32),
 'pred': array([0.42133474, 0.42133474, 0.42133474, ..., 0.4076803 , 0.4076803 ,
        0.4076803 ], dtype=float32)}

In [5]:
x['emb'].shape

(1279796, 1536)

In [6]:
 df = get_df('train', for_eval=True)

In [7]:
df

,cell_id,cell_type,source,id,n_words,ancestor_id,parent_id,n_cell,n_code_cell,n_markdown_cell,markdown_frac,rank,code_rank,markdown_rank,rel_rank,pct_rank,fold,worker
0,1862f0a6,code,# This Python 3 environment comes with many he...,00001756c60be8,140,945aea18,None,58,30,28,0.482666,0,0,-1,0.032257,0.000000,2,42
1,448eb224,markdown,**Импортируем необходимые для работы функции и...,00001756c60be8,7,945aea18,None,58,30,28,0.482666,1,-1,0,0.048401,0.017548,2,27
2,2a9e43d6,code,import numpy as np\nimport pandas as pd\nimpor...,00001756c60be8,55,945aea18,None,58,30,28,0.482666,2,1,-1,0.064514,0.035095,2,72
3,7e2f170a,markdown,**Подключаем предупреждения**,00001756c60be8,2,945aea18,None,58,30,28,0.482666,3,-1,1,0.080627,0.052643,2,22
4,038b763d,code,import warnings\nwarnings.filterwarnings('igno...,00001756c60be8,3,945aea18,None,58,30,28,0.482666,4,2,-1,0.096802,0.070190,2,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6370641,5369934b,markdown,* We have achieved 80.8% accuracy in predictin...,fffe1d764579d5,18,3c40bfa6,None,72,61,11,0.152832,67,-1,8,0.959473,0.943848,3,48
6370642,ac9db030,code,from sklearn.tree import DecisionTreeRegressor...,fffe1d764579d5,16,3c40bfa6,None,72,61,11,0.152832,68,59,-1,0.967773,0.957520,3,28
6370643,a8ffc8b4,markdown,* We have achieved 75.2% accuracy in predictin...,fffe1d764579d5,19,3c40bfa6,None,72,61,11,0.152832,69,-1,9,0.975586,0.971680,3,48
6370644,70455170,code,from sklearn.ensemble import RandomForestRegre...,fffe1d764579d5,16,3c40bfa6,None,72,61,11,0.152832,70,60,-1,0.983887,0.985840,3,58
6370645,380852e6,markdown,* We have achieved 85.5% accuracy in predictin...,fffe1d764579d5,18,3c40bfa6,None,72,61,11,0.152832,71,-1,10,0.991699,1.000000,3,68

In [8]:
x['emb'] = list(x['emb'])

In [9]:
df_pred = pd.DataFrame(x)

In [10]:
df_pred

,id,cell_id,cell_type,rank,rel_rank,match_code,n_code_cell,n_markdown_cell,n_cell,emb,pred
0,0002115f48f982,9ec225f0,markdown,0,0.055556,0.0,8,1,9,"[0.013518708, -0.3380816, -0.054368075, -0.051...",0.421335
1,0002115f48f982,18281c6c,code,1,0.111111,NaN,8,1,9,"[0.02685127, 0.017858563, -0.0030819701, -0.10...",0.421335
2,0002115f48f982,e3b6b115,code,2,0.222222,NaN,8,1,9,"[-0.0424485, -0.045710277, -0.04329671, 0.2752...",0.421335
3,0002115f48f982,4a044c54,code,3,0.333333,NaN,8,1,9,"[-0.00010631763, -0.027448256, -0.02602089, 0....",0.421335
4,0002115f48f982,365fe576,code,4,0.444444,NaN,8,1,9,"[0.05421263, -0.060911544, 0.08201199, -0.2740...",0.835302
...,...,...,...,...,...,...,...,...,...,...,...
1279791,fffc1b4f08e81c,d684781c,code,36,0.897436,NaN,38,2,40,"[0.09497739, -0.038156494, -0.0034084646, -0.0...",0.658027
1279792,fffc1b4f08e81c,f49cf481,code,37,0.923077,NaN,38,2,40,"[-0.06483264, -0.08153878, 0.07074361, 0.02177...",0.407680
1279793,fffc1b4f08e81c,ae8f2eb5,code,38,0.948718,NaN,38,2,40,"[-0.079071485, 0.17673141, 0.050487515, -0.091...",0.407680
1279794,fffc1b4f08e81c,df457077,code,39,0.974359,NaN,38,2,40,"[-0.022896811, 0.25459316, 0.12506229, -0.1382...",0.407680
1279795,fffc1b4f08e81c,nan,code,40,1.000000,NaN,38,2,40,"[5.6782734e-05, 0.01877661, 0.0056209583, 0.01...",0.407680

In [11]:
# offline 8730 online 8630 here offline 8725 check why lower
# x_context = gezi.load('../working/offline/5/0/deberta-v3-small.n_context-30.grad_acc-2.scheduler-linear/valid.pkl')
# offline 8749
x_context = gezi.load(f'{root}/{context_model_name}/valid.pkl')

In [12]:
def to_df(x, mark='train'):
  df = get_df(mark, for_eval=True)
  df_pred = pd.DataFrame({
      'id': x['id'],
      'cell_id': x['cell_id'],
      'pred': x['pred'],
  })

  ids = set(df_pred.id)
  df = df[df.id.isin(ids)]
  df = df.merge(df_pred, on=(['id', 'cell_id']), how='left')

  df.loc[df["cell_type"] == 'code', 'pred'] = df.loc[df["cell_type"] == 'code',
                                                     'rel_rank']
  df = df.sample(frac=1)
  df = df.sort_values(['id', 'pred'])
  df_pred = df.groupby('id')['cell_id'].apply(list).reset_index(
      name='cell_order')

  return df_pred

In [13]:
df_pred_context = to_df(x_context)

In [14]:
context_model = dict(zip(x_context['cell_id'], x_context['pred']))

In [15]:
ids = gezi.unique_list(df_pred.id)

In [16]:
len(ids)

27590

In [17]:
df_gt = pd.read_csv(f'{FLAGS.root}/train_orders.csv')
df_gt = df_gt[df_gt.id.isin(ids)]
df_gt['cell_order'] = df_gt['cell_order'].apply(lambda x: x.split())
df_gt

                    id                                         cell_order
4       0002115f48f982  [9ec225f0, 18281c6c, e3b6b115, 4a044c54, 365fe...
11      00062ab8487156  [dcad687f, a2e1fc80, 7d977ee8, 45a82a59, cbbc3...
28      000efd285fb982  [74a30f80, ee2c8e08, 5523374e, ae8f8fe8, 2138e...
39      0012865b766949  [f9cb50e9, 25f7db90, d804e819, 6593a545, fc5bb...
42      001308991e0c5e  [21147235, 6c01d0d2, 5bd28595, b8fd3a8c, a2501...
...                ...                                                ...
139228  fff2369e5f3fae  [619c5d06, 83763dae, a47fef1c, 0b264008, 0ff20...
139229  fff253383c48e3  [55bb2310, 5347c418, aec54740, 5dc74d91, 45e3c...
139231  fff36689a0fe5f  [e1141762, 33b64cb5, e5560563, 076ff6aa, d388e...
139234  fff4714a37cf49  [314dd4f1, 7823c3e4, 0c1bde24, c338976a, 1dc5d...
139250  fffc1b4f08e81c  [ffc27279, e52b507c, f6cc643c, 47bbc986, 2b9ed...

[27590 rows x 2 columns]

In [18]:
ic(kendall_tau(df_gt.cell_order.values, df_pred_context.cell_order.values))

[07/12/22 13:38:27] 1942949049.py:1 in <module>
                    kendall_tau(df_gt.cell_order.values, df_pred_context.cell_order.values): 0.8829331448078567

0.8829331448078567

In [19]:
# TODO code embs add nan as end code 这个向量可以预先单独做好 一个即可。。
# df添加一个。。 但是最好后续改一下 避免冲突 独立表示最后位置的code + 1
def deal(rows):
  # ic(len(rows))
  # cell_orders = []
  code_rel_ranks, markdown_rel_ranks = [], []
  markdowns, codes, markdown_ranks, code_ranks = [], [], [], []
  markdown_embs, code_embs = [], []
  for row in rows:
    if row['cell_type'] == 'markdown':
      markdowns.append(row['cell_id'])
      markdown_embs.append(row['emb'])
      markdown_ranks.append(row['rank'])
      markdown_rel_ranks.append(row['rel_rank'])
    else:
      codes.append(row['cell_id'])
      code_embs.append(row['emb'])
      code_ranks.append(row['rank'])
      code_rel_ranks.append(row['rel_rank'])
  markdown_embs = np.asarray(markdown_embs)
  code_embs = np.asanyarray(code_embs)
  # ic(markdown_embs.shape, code_embs.shape)
  sims = np.matmul(markdown_embs, code_embs.transpose(1, 0))
  sims = gezi.softmax(sims)
  # ic(sims, sims.shape)
  # ic(sims.argmax(-1))
  # for i in range(len(markdowns)):
  #   ic(i, markdowns[i], markdown_ranks[i], code_ranks[sims[i].argmax(-1)], 
  #      code_ranks[(-sims[i]).argsort()[1]], 
  #      sims[i].max(), 
  #      markdown_rel_ranks[i],
  #      code_rel_ranks[sims[i].argmax(-1)],
  #      context_model[markdowns[i]])
  # sims = gezi.softmax(sims)
  # code_rel_ranks = np.asarray(code_rel_ranks)
  # def get_rel_rank(rel_ranks, probs):
  #   return (rel_ranks * probs).sum()
  # weight = 0.5
  # weight = 0.75
  weight = 0.6 # can get  0.8820775771987659 from 8725
  def merge(x, y, prob):
    # return y
    # return x
    if prob > 0.9:
      return x * (1 - 0.0001) + y * 0.0001
    elif abs(y - x) < 0.1:
      return x * (1 - 0.0001) + y * 0.0001
    elif abs(y - x) < 0.2:
      return x * 0.95 * prob + y * (1 - 0.95 * prob)
    elif abs(y - x) < 0.3:
      return x * 0.85 * prob + y * (1 - 0.85 * prob)
    elif abs(y - x) < 0.4:
      return x * 0.5 * prob + y * (1 - 0.5 * prob)
    else:
      return y
  # weight = 1.
  # markdown_rel_ranks = [weight * sims[i].max() * (code_rel_ranks[sims[i].argmax(-1)] - 0.0001) + (1 - weight * sims[i].max()) * context_model[markdowns[i]] for i in range(len(markdowns))]
  # span = 1. / (len(codes) + 1) / 2.
  span = 1. / (len(codes)) / 2.
  markdown_rel_ranks = [merge((code_rel_ranks[sims[i].argmax(-1)] - span), context_model[markdowns[i]], sims[i].max()) for i in range(len(markdowns))]

  # weight = 0
  # markdown_rel_ranks = [weight * pointwise_model[markdowns[i]] + (1 - weight) * context_model[markdowns[i]] for i in range(len(markdowns))]
  # markdown_rel_ranks = [get_rel_rank(code_rel_ranks, sims[i]) for i in range(len(markdowns))]
  cells = np.asarray([*markdowns, *codes])
  rel_ranks = np.asarray([*markdown_rel_ranks, *code_rel_ranks])
  idxes = rel_ranks.argsort()
  return {'id': row['id'], 'cell_order': cells[idxes]}

In [20]:
rows = []
id = None
count = 0
res = []
for row in tqdm(df_pred.itertuples(), total=len(df_pred)):
  row = row._asdict()
  if id and row['id'] != id:
    res.append(deal(rows))
    count += 1
    # if count == 10:
    #   break
    rows = []
  rows.append(row)
  id = row['id']
res.append(deal(rows))

  0%|          | 0/1279796 [00:00<?, ?it/s]

In [21]:
# rows = []
# id = None
# count = 0
# res = []
# rows_list = []
# with gezi.Timer('calc'):
#   for row in tqdm(df_pred.itertuples(), total=len(df_pred)):
#     row = row._asdict()
#     if id and row['id'] != id:
#       rows_list.append(rows)
#       count += 1
#       # if count == 10:
#       #   break
#       rows = []
#     rows.append(row)
#     id = row['id']
#   rows_list.append(rows)
#   res = gezi.prun_list(deal, rows_list, 64)

In [27]:
df_pred2 = pd.DataFrame(res)
df_pred2

                   id                                         cell_order
0      0002115f48f982  [9ec225f0, 18281c6c, e3b6b115, 4a044c54, 365fe...
1      00062ab8487156  [dcad687f, a2e1fc80, 7d977ee8, 45a82a59, aa354...
2      000efd285fb982  [74a30f80, ee2c8e08, ae8f8fe8, 5523374e, 2138e...
3      0012865b766949  [f9cb50e9, 25f7db90, fc5bb7f4, d804e819, 6593a...
4      001308991e0c5e  [6c01d0d2, 21147235, b8fd3a8c, 5bd28595, 94d3d...
...               ...                                                ...
27585  fff2369e5f3fae  [83763dae, 619c5d06, a47fef1c, 0b264008, 0ff20...
27586  fff253383c48e3  [55bb2310, 5347c418, aec54740, 5dc74d91, 45e3c...
27587  fff36689a0fe5f  [e1141762, 33b64cb5, e5560563, 076ff6aa, d388e...
27588  fff4714a37cf49  [314dd4f1, 7823c3e4, 5edf1d2a, c338976a, 1dc5d...
27589  fffc1b4f08e81c  [e52b507c, f6cc643c, 47bbc986, 2b9ed390, 8fbf9...

[27590 rows x 2 columns]

In [24]:
len(df_gt)

27590

In [28]:
df_pred2['cell_order'] = df_pred2.cell_order.apply(lambda l: [x for x in l if x != 'nan'])

In [29]:
df_gt = df_gt.sort_values('id')
df_pred2 = df_pred2.sort_values('id')
kendall_tau(df_gt.cell_order.values, df_pred2.cell_order.values)

0.8924346514244714

In [ ]:
ic(kendall_tau(df_gt.cell_order.values, df_pred2.cell_order.values))

[07/11/22 22:20:25] 1143748347.py:1 in <module>
                    kendall_tau(df_gt.cell_order.values, df_pred2.cell_order.values): 0.8912763457711156

0.8912763457711156